
.Header{
    background-color: chartreuse;
    Display:flex;
    flex-direction: row;
   
}
.game1{
    background-color: darkcyan;
    Display:flex;
    justify-content: space-evenly;
}
.game2{
    background-color: darkcyan;
    Display:flex;
    justify-content: space-evenly;
}
.game3{
    background-color: darkgoldenrod;
    text-align: center;
}
.game5{
    background-color: darkcyan;
    Display:flex;
    justify-content: space-evenly;
}
.game4{
    background-color: darkcyan;
    Display:flex;
    justify-content: space-evenly;
}
.line5{
    background-color: darkcyan;
    Display:flex;
    justify-content: space-evenly;
}
.line6{
    background-color: darkcyan;
    Display:flex;
    justify-content: space-evenly;
}
.line7{
    background-color: darkcyan;
    Display:flex;
    justify-content: space-evenly;
}
.line8{
    background-color: darkcyan;
    Display:flex;
    justify-content: space-evenly;
}
.help{
    background-color: darkcyan;
    Display:flex;
    justify-content: space-evenly;
}
